body {
  margin: 0%;
  padding: 0%;
  background-color: rgb(0, 217, 255);
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  color: white;
  top: 45%;
  left: 40%;
  transition: transform(-50%, -50%);
}
